* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    width: 100%;
}

body {
    /* width: 100%; */
    background-color: black;
}

.menu {
    width: 13.3%;
    height: 100vh;
    background-color: black;
    padding: 2rem;
    position: fixed;
    margin: 0;
}

.menu a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.logo {
    font-size: 2em;
    margin: 1.5rem 1.6% 3rem;
}

.menu ul {
    margin: 3rem 1.6%;
    /* border: solid white; */
}

.menu li {
    margin-top: 1.2rem;
}

.menu a:hover {
    transition: ease-in-out 1s;
    color: #df0e62;
}

.home {
    width: 90%;
    height: 100vh;
    margin-left: 13.33%;
    display: flex;
    background-image: url(/imgs/img_9.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: brightness(50%);
}

.welcome h1 {
    font-size: 4rem;
    color: white;
}

.welcome p {
    color: f0f0f0;
    width: 815px;
    font-size: 1.3em;
}

.welcome a {
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 30px;
    width: 10rem;
    height: 3rem;
    background-color: #df0e62;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.home img {
    width: 100%;
    height: 100vh;
}

.photos {
    width: 100%;
    /* height: 100vh; */
}

.linha {
    width: 86.7%;
    height: 320px;
    margin-left: 13.288%;
    display: flex;
    flex-direction: row;
}

.fotos {
    height: 15rem;
    width: 33.333%;
    height: 100%;
    margin: 3px;


}

.fotos img {
    height: 100%;
    width: 100%;

}

.fotos img:hover {
    transition: ease-in 0.6s;
    transform: scale(1.1);
}

.carrossel {
    width: 60%;
    height: 70vh;
    margin: 7rem 25%;
}

.carrossel h2 {
    color: white;
    font-size: 4em;
    margin: 0 33.13%;
}

.fotoRadius {
    width: 15rem;
    height: 15rem;
    border-radius: 1000rem;
    margin: 5% 40% auto;
}

.fotoRadius img {
    width: 15rem;
    height: 15rem;
    border-radius: 1000rem;

}

.nome {
    color: white;
    font-weight: bold;
    margin: 3% 46% auto;
}

.lorem {
    color: 808080;
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    margin: 1% 23.333%;
}

.biografia {
    height: 100rem;
    width: 86.7%;
    margin-left: 13.333%;
    background-color: #1a1a1a;
    padding: 9rem 18rem;
}

.biografia .titulo {
    color: white;
    font-size: 64px;
    margin: 1rem 0 1rem 0;
}

.biografia img {
    width: 377px;
    height: 377.5px;
}
.biografia .textWhite{
    color: white;
    margin: 1.5rem 0 0.5rem;
    font-size: 2em;
}
.biografia p{
    width: 47rem;
    font-size: 1.2em;
    color: #808080;
    margin: 1rem 0;

}
.biografia a{
    color: #DF0E62;
}
.biografia h3{
    font-size: 28px;
    color: #fff;
}
.biografia a:hover{
    color: #96003c;
    transition: ease-in 0.3s;
}